*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color:  #fff;
    height: 100vh;
    background: lime;
    background-image: linear-gradient(to right, yellow, violet);
}
.bloc {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: #000; */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bloc span {
    font-size: 10vw;
    position: relative;
    letter-spacing: 25px;
}

.ligne {
    width: 85vw;
    height: 35px;
    background: rgba(128, 128, 128, 0.5);
    border-radius: 9999px;
    margin: 0 auto;
    position: absolute;
    z-index: 10;
}

span:nth-child(odd) {
    z-index: 11;
}
span:nth-child(even) {
    z-index: 9;
}
